{% extends "base.html" %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active"
      style="background-image: url('static/imgs/architecture-art-building-2119706.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">Graphic Design</h2>
        <p class="lead" id="p1">Unique logos, front end development and everything your brand needs.</p>
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('static/imgs/hin-bong-yeung-jF946mh5QrA-unsplash.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">Programming</h2>
        <p class="lead">From software development, automation, web development to data visualization.</p>
      </div>
    </div>
    <!-- Slide Three - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('static/imgs/adult-alley-architecture-2199486.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4">Contact</h2>
        <p class="lead">Stay tuned for more updates.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <section>
    <div>
      <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/2843165&color=%23080808&auto_play=true&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      <div
        style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
        <a href="https://soundcloud.com/nettenz" title="Net TeNz" target="_blank"
          style="color: #cccccc; text-decoration: none;">Net TeNz</a></div>
  </section>
</div>
{% endblock %}